.main_container
{
    min-height: 450px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    text-align: center;
    width: 100%;
}

.clear
{
    clear: both;
}

.form > h3
{
    margin: 20px auto;
}

.form > form > div > label
{
    font-weight: bolder;
}